{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "react-native", "react-hooks"],
  "rules": {
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["state"] }
    ],
    "react/prop-types": ["error", { "ignore": ["componentId"] }],
    "no-return-assign": 0,
    "padded-blocks": 0,
    "max-len": ["error", 80],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    // "object-curly-spacing": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-fragments": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": ["./", "./apps/mobile-app", "./packages/uikit/"]
      }
    ],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "jsx-a11y/img-has-alt": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-use-before-define": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "arrow-body-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "func-names": ["error", "never"],
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "no-throw-literal": 0,
    "no-undef": 0,
    "no-confusing-arrow": 0,
    "indent": 0,
    "no-console": 0,
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["&&", "||"]
        ]
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "camelcase": "error",
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "latest"
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "alias": {
        "map": [
          ["uikit", "./packages/uikit"],
          ["uikit/*", "./packages/uikit/*"],
          ["components", "./apps/mobile-app/src/components"],
          ["components/*", "./apps/mobile-app/src/components/*"],
          ["screens", "./apps/mobile-app/src/screens"],
          ["screens/*", "./apps/mobile-app/src/screens/*"],
          ["constants", "./apps/mobile-app/src/constants"],
          ["containers", "./apps/mobile-app/src/containers"],
          ["containers/*", "./apps/mobile-app/src/containers/*"],
          ["navigation", "./apps/mobile-app/src/navigation"],
          ["navigation/*", "./apps/mobile-app/src/navigation/*"],
          ["themes", "./apps/mobile-app/src/themes"],
          ["themes/*", "./apps/mobile-app/src/themes/*"],
          ["utils", "./apps/mobile-app/src/utils"],
          ["utils/*", "./apps/mobile-app/src/utils/*"],
          ["@redux", "./apps/mobile-app/src/@redux"],
          ["@redux/*", "./apps/mobile-app/src/@redux/*"],
          ["assets", "./apps/mobile-app/src/assets"],
          ["assets/*", "./apps/mobile-app/src/assets/*"],
          ["assets/img/*", "./apps/mobile-app/src/assets/img/*"],
          ["api", "./apps/mobile-app/src/api"],
          ["api/*", "./apps/mobile-app/src/api/*"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "overrides": [
    {
      "files": ["*.js", "packages/*", "apps/*"],
      "rules": {
        "class-methods-use-this": "off"
      }
    }
  ]
}
