{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react", "jsx-a11y", "react-native", "react-hooks"],
  "rules": {
    "react/prop-types": ["error", { "ignore": ["navigation"] }],
    "import/no-unresolved": 0,
    "no-return-assign": 0,
    "padded-blocks": 0,
    "max-len": ["error", 80],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "object-curly-spacing": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "import/no-duplicates": 2,
    "react/sort-comp": 0,
    "react/no-array-index-key": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": ["./", "./apps/mobile-app", "./packages/uxkit"]
      }
    ],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "jsx-a11y/img-has-alt": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-use-before-define": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "arrow-body-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "func-names": ["error", "never"],
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    // "space-before-function-paren": [
    //   "error",
    //   { "anonymous": "never", "named": "never", "asyncArrow": "never" }
    // ],
    "no-throw-literal": 0,
    "no-undef": 0,
    "no-confusing-arrow": 0,
    "indent": 0,
    "no-console": 0,
    "no-mixed-operators": [
      "error",
      {
        "groups": [["&", "|", "^", "~", "<<", ">>", ">>>"], ["&&", "||"]]
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "camelcase": "error",
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "object-curly-newline": [
      "error",
      { "ImportDeclaration": "always", "ExportDeclaration": "never" }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "latest"
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "overrides": [
    {
      "files": ["*.js", "packages/*", "apps/*"],
      "rules": {
        "class-methods-use-this": "off"
      }
    }
  ]
}
